body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-family: 'Open Sans', sans-serif;

}
.logo{
    width: 50%;
    height: 20rem;
}

